<h4>Edit Home</h4>

<label>Home Image:</label>
<input [(ngModel)]="selectedHome.imageUrl">
<br>

<label>Home Type:</label>
<input [(ngModel)]="selectedHome.name">
<br>

<label>Home Address:</label>
<input [(ngModel)]="selectedHome.address">
<br>

<label>Description:</label>
<input [(ngModel)]="selectedHome.description">
<br>

<label>Amenities:</label>
<input [(ngModel)]="selectedHome.amenities">
<br>

<label>Rules:</label>
<input [(ngModel)]="selectedHome.rules">
<br>

<label>Cancellation Terms:</label>
<input [(ngModel)]="selectedHome.cancellation">
<br>

<button (click)="beginUpdatingHome(selectedHome)">Update</button>
<hr>
<button (click)="beginDeletingHome(selectedHome)">Delete</button>
